/* Start CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    border: 2px solid red;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  :root {
    --primary: #1992D4;
    --base: #E2E8F0;
    --white: #fff;
    --ink: #100B00;
    --secondary: #FACC15;
    --theme-name: "light";
    font-size: 16px;
  }

  /* End CSS Reset */
  li {
    list-style-type: none;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    ;
  }
  .sidebar {
    background-color: var(--primary);
    grid-area: sidebar;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .header {
    background-color: var(--white);
    grid-area: header;
  }
  header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main {
    background-color: var(--base);
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending"
    ;
  }
  .projects {
    grid-area: projects;
    padding: 10px;
  }

  .card-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card {
    background-color: var(--white);
    padding: .5rem;
  }

  .card-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .announcements {
    grid-area: announcements;
  }

  .trending {
    grid-area: trending;
  }
.action-button {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding: .5rem 2rem;
  font-weight: 600;
  border-radius: 4rem;
}