/* Start CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    /* border: 2px solid red; */
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", serif;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  ul {
    padding-left: 0;
  }

  :root {
    --primary: #1992D4;
    --base: #E2E8F0;
    --white: #fff;
    --ink: #100B00;
    --secondary: #FACC15;
    --theme-name: "light";
    font-size: 16px;
  }

  /* End CSS Reset */
  li {
    list-style-type: none;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    ;
  }
  /* Sidebar  */
  .sidebar {
    background-color: var(--primary);
    grid-area: sidebar;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 700;
    padding: 1rem 0 0 1rem;
    svg {
      margin-right: 1rem;
      fill: var(--white);
    }
    li {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
  
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: -2px;
  svg {
    height: 30px;
  }
  span {
    position: relative;
    right:.5rem;
    font-size: 1.25rem;
  }
}
  /* Header  */
  .header {
    background-color: var(--white);
    grid-area: header;

  }
  header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-weight: 600;
  }

  .search {
    display: flex;
    align-items: center;
    flex: 1;
    form:nth-child(1) {
      width: 100%;
    }
    input {
      width: 50%;
      border-radius: 2rem;
      background-color: var(--base);
      border: none
    }
    button {
      position: relative;
      top: 6px;
      place-items: center;
      background-color: var(--white);
      border-radius: 50%;

      svg {
        height: 25px;
        display: grid;
        fill: var(--ink);
        opacity: 50%;
      }
    }
  }
  .user-stuff {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    
  }
  .avatar {
    height:50px;
    width: 50px;
  }
  .actions {
    gap: 2.5rem;
    button:hover {
      background-color: #076ea5;
    }
  }

  .greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
    .avatar {
      transform: scale(1.5);
    }
    .greeting-user {
      font-size: 1.5rem;
    }
  }

/* Main */
  .main {
    background-color: var(--base);
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending"
    ;
    gap: 1rem;
    padding: 1.5rem 1rem;
  }
  .projects {
    grid-area: projects;
  }

  .card-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    border-left: 6px solid var(--secondary);
    .card-text {
      margin-bottom: 1rem;
    }
  }

  .card-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    svg {
      fill: var(--ink);
    }
  }

  .announcements {
    grid-area: announcements;
  }

  .trending {
    grid-area: trending;
  }
.actions {
  display: flex;
  align-items: space-around;
  }
.action-button {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding: .5rem 2rem;
  font-weight: 600;
  border-radius: 4rem;
  border: none;
}

.section-title {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: .25rem;
}

.announcements ul, .trending ul {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1rem;
  padding-left: 1.5rem;
  li {
    margin-bottom: 1rem;
  }
}
.announcements ul {
  padding-top: 2rem;
}
.announcements li {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--base);
}

svg {
  height: 20px;
  display: inline;
}

.trending-user {
  display: flex;
  align-items: center;
  gap: .5rem;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    ;
  }
}